[core]
    filemode = false
    autocrlf = input
    editor = vim
[user]
    name = chris-donorschoose
    email = chris@donorschoose.org
[difftool]
    prompt = false
[diff]
    tool = kdiff3
[mergetool]
    prompt = false
    keepBackup = false
[merge]
    tool = kdiff3
[alias]
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    co = checkout
    ci = commit
    rb = rebase
    wdiff = "diff --ignore-space-at-eol -b --ignore-blank-lines -w --word-diff"
    stat = "status -s"
    curbranch = "rev-parse --abbrev-ref HEAD"
    fetchone = "!f() { git fetch $1 $2:refs/remotes/$1/$2; }; f"
    newcase = "!f() { git fetch dc-master; git checkout -b BUGZID_$1 dc-master/resolved; }; f"
    logp = "log -w -p --follow"
    fix = "commit -a -m 'fixup'"
    amend = "commit --amend --no-edit -a"
    sho = "show -w"
[color]
    ui = true
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[push]
    default = matching
